In [1]:
import pandas as pd

In [2]:
species = pd.read_csv('../data/SYB64_313_202110_Threatened Species.csv')

In [3]:
species

,T23,Threatened species,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,4,Afghanistan,2004,Threatened Species: Vertebrates (number),31,NaN,"World Conservation Union (IUCN), Gland and Cam..."
2,4,Afghanistan,2010,Threatened Species: Vertebrates (number),31,NaN,"World Conservation Union (IUCN), Gland and Cam..."
3,4,Afghanistan,2015,Threatened Species: Vertebrates (number),31,NaN,"World Conservation Union (IUCN), Gland and Cam..."
4,4,Afghanistan,2018,Threatened Species: Vertebrates (number),34,NaN,"World Conservation Union (IUCN), Gland and Cam..."
...,...,...,...,...,...,...,...
6916,716,Zimbabwe,2015,Threatened Species: Total (number),60,NaN,"World Conservation Union (IUCN), Gland and Cam..."
6917,716,Zimbabwe,2018,Threatened Species: Total (number),95,NaN,"World Conservation Union (IUCN), Gland and Cam..."
6918,716,Zimbabwe,2019,Threatened Species: Total (number),103,NaN,"World Conservation Union (IUCN), Gland and Cam..."
6919,716,Zimbabwe,2020,Threatened Species: Total (number),122,NaN,"World Conservation Union (IUCN), Gland and Cam..."
6920,716,Zimbabwe,2021,Threatened Species: Total (number),124,NaN,"World Conservation Union (IUCN), Gland and Cam..."

In [6]:
species.describe()

,T23,Threatened species,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
count,6921,6920,6921,6921,6921,115,6921
unique,254,253,8,5,628,6,2
top,422,Afghanistan,2021,Threatened Species: Total (number),0,Excluding overseas territories.,"World Conservation Union (IUCN), Gland and Cam..."
freq,28,28,999,1731,490,28,6920

In [26]:
species.loc[10]

T23                                                                   4
Threatened species                                          Afghanistan
Unnamed: 2                                                         2015
Unnamed: 3                   Threatened Species: Invertebrates (number)
Unnamed: 4                                                            2
Unnamed: 5                                                          NaN
Unnamed: 6            World Conservation Union (IUCN), Gland and Cam...
Name: 10, dtype: object